{#
/**
 * @file
 * Default theme implementation to list OLB types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of OLB types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <dl>
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set create_content = path('olb.type_add') %}
    {% trans %}
      You have not created any OLB types yet. Go to the <a href="{{ create_content }}">OLB type creation page</a> to add a new OLB type.
    {% endtrans %}
  </p>
{% endif %}
